body{
	width:960px;
	margin:auto;
}
#register, #login{
	margin:10px;
	border:1px solid black;
	display: inline-block;
	vertical-align: top;
}
form{
	margin:10px;
}
label{
	margin-top: 10px;
	display: block;
}
input{
	display: inline-block;
}
.submit{
	display: block;
	margin-top: 10px;
}