<!DOCTYPE html>
<html>
<head>
	<title>Quotes</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'quotes/stylesheet.css' %}" />
	<!-- <link rel="stylesheet" href="/static/quotes/css/stylesheet.css"> -->
</head>
<body>
	<a href="{% url 'login:logout' %}">Logout</a>
	<h2>Hello, {{user.alias}}!</h2>
	<h3>Quotable Quotes</h3>
	<hr>
	<div class="quotes">
	{% for quote in quotes %}
		<span id="quoter">{{quote.quoter}}:</span>{{quote.quote}}
		<p>Posted by:<a href="{% url 'quotes:users' quote.user.id %}">{{quote.user.alias}}</a></p>
		<a href="{% url 'quotes:favorite' quote.id %}"><button>Add to My List</button></a>
		<hr>
	{% endfor %}
	</div>
	

	<h3>Favorite Quotes</h3>
	<hr>
	<div class="quotes">
	{% for favorite in favorites %}
		{{favorite.quotes.quoter}}:{{favorite.quotes.quote}}
		<p>Posted by:<a href="{% url 'quotes:users' favorite.user.id %}">{{favorite.quotes.user.alias}}</p>
		<a href="{% url 'quotes:delete' favorite.quotes.id %}"><button>Remove from my list</button></a>
		<hr>
	{% endfor %}
	</div>
	
	<h4>Contribute a Quote:</h4>
	<div id="addquote">
		<form action="{% url 'quotes:add' %}" method="post">
			{% csrf_token %}
			Quoted By: <input type="text" name="quoter">
			<p>Quote: <textarea cols="18" rows="5" name="quote"> </textarea></p>
			 {% for message in messages %}
	        <p style="background-color:red;">{{message}}</p>
	   		 {% endfor %}
			<input type="submit" name="Submit">
	</form>
	</div>
</body>
</html>